.section
  background-color: $white
  padding: 3rem 1.5rem
  +ritmo-paddings(1)
  // Responsiveness
  +desktop
    // Sizes
    &.is-medium
      padding: 9rem 1.5rem
      +ritmo-paddings(2)
    &.is-large
      padding: 18rem 1.5rem
      +ritmo-paddings(3)
