// Setting size base
$modularscale: (base: 18px, ratio: 1.618);

// Setting ritmo
$base-font-size: 18px;
$base-line-unit: 14px;
$base-line-multi: 2;
$base-line-height: round($base-line-unit * $base-line-multi);
$base-line: $base-line-height / ms(0);
$ritmo-unit: "px";
$round-to-nearest-half-line: false;
$min-line-padding: 5px;
$ritmo-border-width: 1px;
$rem-with-px-fallback: true;
@debug lineheight $base-line-height $base-line;

:root {
  --g-baseline-height: #{$base-line-height / 2};
  --g-baseline-start: 0;
}
